* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.movies {
    padding: 15px;

    .movies__btn {
        width: 40px;
        height: 20px;
        border-radius: 5px;
        background-color: greenyellow;
        cursor: pointer;
        margin-top: 10px;
       
    }
}
